.chat-message-user {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 10px;
  margin-bottom: 10px;
}

.chat-message-robot {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
}

.chat-message-text {
  font-size: 14px;
  padding: 10px 15px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  max-width: 300px;
}

.chat-time{
  font-size: 12px;
  margin-top: 5px;
  color: rgb(154, 154, 154);
}

.chat-message-profile {
  width: 40px;
  border-radius: 40px;
  object-fit: cover;
}

.welcome-message {
  color: rgb(120, 120, 120);
  text-align: center;
}

.loading-spinner {
  width: 40px;
  margin: -5px;
}